
version: '2.2'

services:

  hiker_client:
    #build:
    #  context: test_client
    user: nobody:nogroup
    image: cyberdojo/hiker-client
    init: true
    container_name: test-hiker-client
    read_only: true
    tmpfs: /tmp
    restart: 'no'
    depends_on: [ hiker ]
    #ports: [ "4548:4548" ]
    #volumes: [ "./test_client:/app/test:ro" ]


  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  hiker:
    build:
      context: app
    user: nobody
    image: cyberdojotools/image_hiker
    init: true
    container_name: test-hiker-server
    read_only: true
    ports: [ "5637:5637" ]
    tmpfs: /tmp
    restart: 'no'
    depends_on:
      - runner
    #volumes: [ "./test_server:/app/test:ro" ]

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  runner:
    user: root
    image: ${CYBER_DOJO_RUNNER_IMAGE}:${CYBER_DOJO_RUNNER_TAG}
    init: true
    container_name: test-traffic-light-runner
    ports: [ "${CYBER_DOJO_RUNNER_PORT}:${CYBER_DOJO_RUNNER_PORT}" ]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    read_only: true
    tmpfs: /tmp
    restart: 'no'
